body {
    font-family: Arial, sans-serif;
    background-image: url('2ac58ca3c5e1d553148f12ba1d7a38e8.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

input[type="text"],
input[type="password"],
button {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* Animation */
#loginForm, #signUpForm {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
